<a href="https://colab.research.google.com/github/Againyunn/Database/blob/master/ch5_6_SQL_Labs_2021_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL LAB

## Before you do labs in class, try your best to write and test your sql code on labs

## Your db account

- db hostname: dm.hufs.ac.kr:3306
- id: s학번
- db name: s학번db    (학번은 자신의 학번)
- password: ***********

In [1]:
s = 0
for _ in range(100):
    s += 0.01
    
print(s)

1.0000000000000007

In [4]:
%load_ext sql

In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.7 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [13]:
import getpass
user = 's201703262'
password = getpass.getpass()
host='dm.hufs.ac.kr'
database = 's201703262db'
connection_string = f'mysql+pymysql://{user}:{password}@{host}:3306/{database}'
    
%sql $connection_string

··········

'Connected: s201703262@s201703262db'

In [14]:
%sql show databases;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
2 rows affected.

[('information_schema',), ('s201703262db',)]

In [15]:
%%sql 

use s202100001db;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
(pymysql.err.OperationalError) (1044, "Access denied for user 's201703262'@'%' to database 's202100001db'")
[SQL: use s202100001db;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [16]:
%sql show tables;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
8 rows affected.

[('DEPARTMENT',),
 ('DEPENDENT',),
 ('DEPT_LOCATIONS',),
 ('EMPLOYEE',),
 ('PROJECT',),
 ('WORKS_ON',),
 ('dept',),
 ('emp',)]

In [17]:
%sql desc EMPLOYEE

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
10 rows affected.

[('Fname', 'varchar(15)', 'NO', '', None, ''),
 ('Minit', 'char(1)', 'YES', '', None, ''),
 ('Lname', 'varchar(15)', 'NO', '', None, ''),
 ('Ssn', 'char(9)', 'NO', 'PRI', None, ''),
 ('Bdate', 'date', 'YES', '', None, ''),
 ('Address', 'varchar(30)', 'YES', '', None, ''),
 ('Sex', 'char(1)', 'YES', '', None, ''),
 ('Salary', 'decimal(10,2)', 'YES', '', None, ''),
 ('Superssn', 'char(9)', 'YES', 'MUL', None, ''),
 ('Dno', 'int(11)', 'YES', 'MUL', None, '')]

## Create companydb and load data
## This is done only ONCE; Do NOT run this cell 
## Whenever database is corrupted, run this cell

In [18]:
%%sql

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;

DROP TABLE IF EXISTS DEPENDENT;
DROP TABLE IF EXISTS WORKS_ON;
DROP TABLE IF EXISTS PROJECT;
DROP TABLE IF EXISTS DEPT_LOCATIONS;
DROP TABLE IF EXISTS DEPARTMENT;
DROP TABLE IF EXISTS EMPLOYEE;

CREATE TABLE EMPLOYEE
(       Fname VARCHAR(15) NOT NULL,
        Minit CHAR,
        Lname VARCHAR(15) NOT NULL,
        Ssn CHAR(9) NOT NULL,
        Bdate DATE,
        Address VARCHAR(30),
        Sex CHAR,
        Salary DECIMAL(10, 2),
        Superssn CHAR(9),
        Dno INT,
        PRIMARY KEY (Ssn),
        FOREIGN KEY (Superssn) 
                REFERENCES EMPLOYEE(Ssn) 
                ON DELETE SET NULL
                ON UPDATE CASCADE,
        FOREIGN KEY (Dno) 
                REFERENCES DEPARTMENT(Dnumber)
                ON DELETE SET NULL
                ON UPDATE CASCADE
) ENGINE=InnoDB;

CREATE TABLE DEPARTMENT
(       Dname VARCHAR(15) NOT NULL,
        Dnumber INT NOT NULL,
        Mgrssn CHAR(9),
        Mgrstartdate DATE,
        PRIMARY KEY (Dnumber),
        UNIQUE (Dname),
        FOREIGN KEY (Mgrssn) 
                REFERENCES EMPLOYEE(Ssn)
                ON DELETE SET NULL
                ON UPDATE CASCADE
) ENGINE=InnoDB;


CREATE TABLE DEPT_LOCATIONS
(       Dnumber INT NOT NULL,
        Dlocation VARCHAR(15) NOT NULL,
        PRIMARY KEY (Dnumber, Dlocation),
        FOREIGN KEY (Dnumber)
                REFERENCES DEPARTMENT(Dnumber) 
                ON DELETE CASCADE
                ON UPDATE CASCADE
) ENGINE=InnoDB;


CREATE TABLE PROJECT
(       Pname VARCHAR(15) NOT NULL,
        Pnumber INT NOT NULL,
        Plocation VARCHAR(15),
        Dnum INT,
        PRIMARY KEY (Pnumber),
        UNIQUE (Pname),
        FOREIGN KEY (Dnum) 
                REFERENCES DEPARTMENT(Dnumber)
                ON DELETE SET NULL
                ON UPDATE CASCADE
) ENGINE=InnoDB;


CREATE TABLE WORKS_ON
(       Essn CHAR(9) NOT NULL,
        Pno INT NOT NULL,
        Hours DECIMAL(3, 1) ,
        PRIMARY KEY (Essn, Pno),
        FOREIGN KEY (Essn) 
                REFERENCES EMPLOYEE(Ssn)
                ON DELETE CASCADE
                ON UPDATE CASCADE,
        FOREIGN KEY (Pno) 
                REFERENCES PROJECT(Pnumber)
                ON DELETE CASCADE
                ON UPDATE CASCADE
) ENGINE=InnoDB;


CREATE TABLE DEPENDENT
(       Essn CHAR(9) NOT NULL,
        Dependent_name VARCHAR(15) NOT NULL,
        Sex CHAR,
        Bdate DATE,
        Relationship VARCHAR(8),
        PRIMARY KEY (Essn, Dependent_name),
        FOREIGN KEY (Essn) 
                REFERENCES EMPLOYEE(Ssn)
                ON DELETE CASCADE
                ON UPDATE CASCADE
) ENGINE=InnoDB;


insert into EMPLOYEE values
        ("John", "B", "Smith", "123456789","1965-01-09", "731-Fondren-Houston-TX", "M", 30000, "333445555", 5),
        ("Franklin", "T", "Wong", "333445555","1955-12-08", "638-Voss-Houston-TX", "M", 40000, "888665555", 5),
        ("Alicia", "J", "Zelaya", "999887777", "1968-01-19", "3321-Castle-Spring-TX", "F", 25000, "987654321", 4),
        ("Jennifer", "S", "Wallace", "987654321", "1941-06-20", "291-Berry-Bellaire-TX", "F", 43000, "888665555", 4),
        ("Ramesh", "K", "Narayan", "666884444", "1962-09-15", "975-Fire-Oak-Humble-TX", "M", 38000, "333445555", 5),
        ("Joyce", "A", "English", "453453453", "1972-07-31", "5631-Rice-Houston-TX", "F", 25000, "333445555", 5),
        ("Ahmad", "V", "Jabbar", "987987987", "1969-03-29", "980-Dallas-Houston-TX", "M", 25000, "987654321", 4),
        ("James", "E", "Borg", "888665555", "1937-11-10", "450-Stone-Houston-TX", "M", 55000, NULL, 1);


insert into DEPENDENT  values 
        (333445555, "Alice", "F","1986-04-05", "Daughter"),
        (333445555, "Theodore", "M","1983-10-25", "Son"),
        (333445555, "Joy", "F","1958-05-03", "Spouse"),
        (987654321, "Abner", "M","1942-02-28", "Spouse"),
        (123456789, "Michael", "M","1988-01-04", "Son"),
        (123456789, "Alice", "F", "1988-12-30", "Daughter"),
        (123456789, "Elizabeth", "F", "1967-05-05", "Spouse");


insert into DEPARTMENT values 
        ("Research", 5, 333445555,"1988-05-22"),
        ("Administration", 4, 987654321,"1995-01-01"),
        ("Headquarters", 1, 888665555,"1981-06-19");

insert into DEPT_LOCATIONS values 
        (1, "Houston"),
        (4, "Stafford"),
        (5, "Bellaire"),
        (5, "Sugarland"),
        (5, "Houston");


insert into PROJECT values 
        ("ProductX", 1, "Bellaire", 5),
        ("ProductY", 2, "Sugarland", 5),
        ("ProductZ", 3, "Houston", 5),
        ("Computerization", 10, "Stafford", 4),
        ("Reorganization", 20, "Houston", 1),
        ("Newbenefits", 30, "Stafford", 4);


insert into WORKS_ON values
        (123456789, 1, 32.5),
        (123456789, 2, 7.5),
        (666884444, 3, 40.0),
        (453453453, 1, 20.0),
        (453453453, 2, 20.0),
        (333445555, 2, 10.0),
        (333445555, 3, 10.0),
        (333445555, 10, 10.0),
        (333445555, 20, 10.0),
        (999887777, 30, 30.0),
        (999887777, 10, 10.0),
        (987987987, 10, 35.0),
        (987987987, 30, 5.0),
        (987654321, 30, 20.0),
        (987654321, 20, 15.0),
        (888665555, 20, NULL); 

SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
8 rows affected.
7 rows affected.
3 rows affected.
5 rows affected.
6 rows affected.
16 rows affected.
0 rows affected.
0 rows affected.

[]

In [19]:
%sql select * from EMPLOYEE;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
8 rows affected.

[('John', 'B', 'Smith', '123456789', datetime.date(1965, 1, 9), '731-Fondren-Houston-TX', 'M', Decimal('30000.00'), '333445555', 5),
 ('Franklin', 'T', 'Wong', '333445555', datetime.date(1955, 12, 8), '638-Voss-Houston-TX', 'M', Decimal('40000.00'), '888665555', 5),
 ('Joyce', 'A', 'English', '453453453', datetime.date(1972, 7, 31), '5631-Rice-Houston-TX', 'F', Decimal('25000.00'), '333445555', 5),
 ('Ramesh', 'K', 'Narayan', '666884444', datetime.date(1962, 9, 15), '975-Fire-Oak-Humble-TX', 'M', Decimal('38000.00'), '333445555', 5),
 ('James', 'E', 'Borg', '888665555', datetime.date(1937, 11, 10), '450-Stone-Houston-TX', 'M', Decimal('55000.00'), None, 1),
 ('Jennifer', 'S', 'Wallace', '987654321', datetime.date(1941, 6, 20), '291-Berry-Bellaire-TX', 'F', Decimal('43000.00'), '888665555', 4),
 ('Ahmad', 'V', 'Jabbar', '987987987', datetime.date(1969, 3, 29), '980-Dallas-Houston-TX', 'M', Decimal('25000.00'), '987654321', 4),
 ('Alicia', 'J', 'Zelaya', '999887777', datetime.date(1968, 1, 19), '3321-Castle-Spring-TX', 'F', Decimal('25000.00'), '987654321', 4)]

In [20]:
%sql select * from PROJECT;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
6 rows affected.

[('ProductX', 1, 'Bellaire', 5),
 ('ProductY', 2, 'Sugarland', 5),
 ('ProductZ', 3, 'Houston', 5),
 ('Computerization', 10, 'Stafford', 4),
 ('Reorganization', 20, 'Houston', 1),
 ('Newbenefits', 30, 'Stafford', 4)]

## create table 
```
emp(ssn)
PK: ssn
```

In [21]:
%sql drop table if exists emp;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
(pymysql.err.OperationalError) (3730, "Cannot drop table 'emp' referenced by a foreign key constraint 'dept_ibfk_1' on table 'dept'.")
[SQL: drop table if exists emp;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
%sql drop table if exists dept;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
0 rows affected.

[]

In [23]:
%%sql

create table emp (
    ssn char(9) primary key
) engine=InnoDB;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
(pymysql.err.OperationalError) (1050, "Table 'emp' already exists")
[SQL: create table emp (
    ssn char(9) primary key
) engine=InnoDB;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## create table 
```
dept(dname, dnumbr, mgrssn, mgrstartdate)
K: dname, dnumber
PK: dnumber
FK: mgrssn -> emp
```

In [24]:
%%sql

create table dept (
    dname varchar(20) not null,
    dnumber integer not null,
    mgrssn char(9),
    mgrstartdate date,
    primary key (dnumber),
    unique (dname),
    foreign key (mgrssn) references emp(ssn) 
        on delete cascade
) engine = InnoDB;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
0 rows affected.

[]

In [25]:
%sql desc emp;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
1 rows affected.

[('ssn', 'char(9)', 'NO', 'PRI', None, '')]

In [26]:
%sql desc dept;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
4 rows affected.

[('dname', 'varchar(20)', 'NO', 'UNI', None, ''),
 ('dnumber', 'int(11)', 'NO', 'PRI', None, ''),
 ('mgrssn', 'char(9)', 'YES', 'MUL', None, ''),
 ('mgrstartdate', 'date', 'YES', '', None, '')]

In [27]:
%%sql 

insert into emp values( '333445555' );
insert into emp values( '987654321');
insert into emp values( '886655555' );

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db

IntegrityError: ignored

In [28]:
%%sql 

insert into emp values( '333445558' );

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
1 rows affected.

[]

In [29]:
%sql select * from emp;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
4 rows affected.

[('333445555',), ('333445558',), ('886655555',), ('987654321',)]

In [ ]:
%sql select * from dept;

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
0 rows affected.

[]

In [ ]:
%%sql 

insert into dept values ('Research', 5, '333445555', '1988-05-02');
insert into dept values ('Administration', 4, '987654321', '1995-01-01');
insert into dept values ('Headquarters', 1, '886655555', '1981-06-19');

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
1 rows affected.

IntegrityError: (pymysql.err.IntegrityError) (1216, 'Cannot add or update a child row: a foreign key constraint fails')
[SQL: insert into dept values ('Administration', 4, '987654321', '1995-01-01');]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
%%sql 

insert into dept values ('Researchx', 10, '33344555', '1988-05-02');

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db

IntegrityError: ignored

In [ ]:
%%sql

select * from emp;

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
0 rows affected.

[]

In [ ]:
%%sql

select * from dept;

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
1 rows affected.

[('Research', 5, '333445555', datetime.date(1988, 5, 2))]

In [ ]:
%%sql

delete from emp;

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
3 rows affected.

[]

## Try this: MySQL comment

In [30]:
%%sql

select * 
from EMPLOYEE
/*where Salary >= 50000*/
-- comment until the end of line
-- and dno = 5

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
8 rows affected.

[('John', 'B', 'Smith', '123456789', datetime.date(1965, 1, 9), '731-Fondren-Houston-TX', 'M', Decimal('30000.00'), '333445555', 5),
 ('Franklin', 'T', 'Wong', '333445555', datetime.date(1955, 12, 8), '638-Voss-Houston-TX', 'M', Decimal('40000.00'), '888665555', 5),
 ('Joyce', 'A', 'English', '453453453', datetime.date(1972, 7, 31), '5631-Rice-Houston-TX', 'F', Decimal('25000.00'), '333445555', 5),
 ('Ramesh', 'K', 'Narayan', '666884444', datetime.date(1962, 9, 15), '975-Fire-Oak-Humble-TX', 'M', Decimal('38000.00'), '333445555', 5),
 ('James', 'E', 'Borg', '888665555', datetime.date(1937, 11, 10), '450-Stone-Houston-TX', 'M', Decimal('55000.00'), None, 1),
 ('Jennifer', 'S', 'Wallace', '987654321', datetime.date(1941, 6, 20), '291-Berry-Bellaire-TX', 'F', Decimal('43000.00'), '888665555', 4),
 ('Ahmad', 'V', 'Jabbar', '987987987', datetime.date(1969, 3, 29), '980-Dallas-Houston-TX', 'M', Decimal('25000.00'), '987654321', 4),
 ('Alicia', 'J', 'Zelaya', '999887777', datetime.date(1968, 1, 19), '3321-Castle-Spring-TX', 'F', Decimal('25000.00'), '987654321', 4)]

In [31]:
%%sql 

insert into emp values( '333445555' );
insert into emp values( '987654321');
insert into emp values( '886655555' );

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db

IntegrityError: ignored

In [ ]:
%%sql 

-- insert into dept values ('Research', 5, '333445551', '1988-05-02');
insert into dept values ('Research', 5, '333445555', '1988-05-02');
insert into dept values ('Administration', 4, '987654321', '1995-01-01');
insert into dept values ('Headquarters', 1, '886655555', '1981-06-19');

In [ ]:
%%sql 

drop table ttt;

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
0 rows affected.

[]

In [ ]:
%%sql

create table ttt(i int check( 1 <= i and i <= 4));

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
0 rows affected.

[]

In [ ]:
%%sql 

insert into ttt values (1);

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
1 rows affected.

[]

In [ ]:
%%sql 

insert into ttt values (10);

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
1 rows affected.

[]

In [ ]:
%%sql

select * from ttt;

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
2 rows affected.

[(1,), (10,)]

# 10/27

salary가 50000이상이고 1961년 1월 1일 이후에 태어난 직원의 lname?
1. 테이블 이름은 case-sensitive
2. 칼럼 이름은 case-insensitive

## Try this:
```
select * 
from EMPLOYEE e, DEPARTMENT d, PROJECT p
```

In [56]:
%%sql

/*select *   */
select count(*)
from EMPLOYEE, DEPARTMENT, PROJECT /*카티션 곱의 형태 */

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
1 rows affected.

[(144,)]

In [45]:
%%sql

SELECT lname
FROM EMPLOYEE
WHERE Salary >= 30000 and Date=='1961-1-1;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '=='1961-1-1' at line 3")
[SQL: SELECT lname
FROM EMPLOYEE
WHERE Salary >= 30000 and Date=='1961-1-1;]
(Background on this error at: https://sqlalche.me/e/14/f405)

## LAB 1: ‘Research’ 부서에서 일하는 모든 종업원들의 이름과 주소를 검색하시오.

In [60]:
%%sql

select lname, Address
from EMPLOYEE, DEPARTMENT
where Dname='Research' and Dnumber = Dno

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
4 rows affected.

[('Smith', '731-Fondren-Houston-TX'),
 ('Wong', '638-Voss-Houston-TX'),
 ('English', '5631-Rice-Houston-TX'),
 ('Narayan', '975-Fire-Oak-Humble-TX')]

## LAB 2 :  salary가 30000 이상 50000이하인 직원의 lname?

In [38]:
%%sql

SELECT lname
FROM EMPLOYEE
WHERE Salary >=30000 and Salary <=50000;
/* 순서를 바꿀 수는 없다. 
 * SELECT, FROM, WHERE 의 순서를 따라야 한다.
 */

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
4 rows affected.

[('Smith',), ('Wong',), ('Narayan',), ('Wallace',)]

In [ ]:
%%sql

## LAB 3: 4번 또는 5번 부서의 남자 직원의 lname?

In [54]:
%%sql

select lname
from EMPLOYEE
where (Dno=4 or Dno=5 )and Sex='M'
/* where이 selection과 같은 기능이기에, where없이 select 와 from만 이용하면 projection하는 것과 결과가 같다 */
/* 연산자의 우선순위, not > and > or 순서이므로, ( )도 명확히 따져야 한다.*/

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
4 rows affected.

[('Jabbar',), ('Smith',), ('Wong',), ('Narayan',)]

## LAB 4: 5번 부서에 근무하는 직원의 부양가족의 이름?

In [ ]:
%%sql

## LAB 5: 'Research' 부서에 근무하는 직원의 부양가족의 이름?

In [62]:
%%sql

# select ssn
# from EMPLOYEE, DEPARTMENT
# where Dname='Research' and dnumber = dno

select Dependent_name
from EMPLOYEE, DEPARTMENT, DEPENDENT
where Dname='Research' and Dnumber = Dno and Ssn=Essn;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
6 rows affected.

[('Alice',), ('Elizabeth',), ('Michael',), ('Alice',), ('Joy',), ('Theodore',)]

## LAB 6: James Borg의 직접 부하직원의 lname은?

In [ ]:
%%sql 

select e.lname
from EMPLOYEE e, EMPLOYEE j
where j.lname = 'Borg' and j.fname = 'James' and j.ssn = e.superssn;

## LAB 7: James Borg의 부하직원과 그 부하직원의 부하직원의 lname를 찾으시오.

In [ ]:
%%sql
select e2.ssn
from EMPLOYEE e, EMPLOYEE e1, EMPLOYEE e2
where e.Fname='James' and e.Lname='Borg' and e.ssn=e1.superssn and e1.ssn=e2.superssn
union
select e.ssn
from EMPLOYEE e, EMPLOYEE j
where j.lname = 'Borg' and j.fname = 'James' and e.superssn=j.ssn

## Try this: DISTINCT

In [63]:
%sql select sex from EMPLOYEE;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
8 rows affected.

[('M',), ('M',), ('F',), ('M',), ('M',), ('F',), ('M',), ('F',)]

In [64]:
%sql select distinct sex from EMPLOYEE;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
2 rows affected.

[('M',), ('F',)]

### Do we need distinct
```
select distinct salary, ssn from EMPLOYEE;
```

In [65]:
%%sql

select distinct ssn, salary from EMPLOYEE;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
8 rows affected.

[('123456789', Decimal('30000.00')),
 ('333445555', Decimal('40000.00')),
 ('453453453', Decimal('25000.00')),
 ('666884444', Decimal('38000.00')),
 ('888665555', Decimal('55000.00')),
 ('987654321', Decimal('43000.00')),
 ('987987987', Decimal('25000.00')),
 ('999887777', Decimal('25000.00'))]

#### Answer: No

### Do we need distinct
```
select ssn, dname
from EMPLOYEE e, DEPARTMENT d, PROJECT p
where e.ssn = d.mgrssn and d.dnumber = p.dnum;
```

In [66]:
%%sql

select ssn, dname
from EMPLOYEE e, DEPARTMENT d, PROJECT p
where e.ssn = d.mgrssn and d.dnumber = p.dnum;

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
6 rows affected.

[('888665555', 'Headquarters'),
 ('987654321', 'Administration'),
 ('987654321', 'Administration'),
 ('333445555', 'Research'),
 ('333445555', 'Research'),
 ('333445555', 'Research')]

### Answer: Yes

### Do we need distinct
```
select ssn, pno
from EMPLOYEE e, WORKS_ON, PROJECT p
```

In [67]:
%%sql

select ssn, pno
from EMPLOYEE e, WORKS_ON, PROJECT p

 * mysql+pymysql://s201703262:***@dm.hufs.ac.kr:3306/s201703262db
768 rows affected.

[('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('888665555', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987654321', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('987987987', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('999887777', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('123456789', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('333445555', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('453453453', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('666884444', 1),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('888665555', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987654321', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('987987987', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('999887777', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('123456789', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('333445555', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('453453453', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('666884444', 2),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('888665555', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987654321', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('987987987', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('999887777', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('123456789', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('333445555', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('453453453', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('666884444', 3),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('888665555', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987654321', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('987987987', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('999887777', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('123456789', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('333445555', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('453453453', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('666884444', 10),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('888665555', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987654321', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('987987987', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('999887777', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('123456789', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('333445555', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('453453453', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('666884444', 20),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('888665555', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987654321', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('987987987', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('999887777', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('123456789', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('333445555', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('453453453', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30),
 ('666884444', 30)]

### Answer: Yes

### Do we need distinct
```
select pnumber
from EMPLOYEE e, DEPARTMENT d, PROJECT p
where e.ssn = d.mgrssn and d.dnumber = p.dnum;
```

### Answer: No

## Try this: UNION과 UNION ALL의 차이

In [ ]:
%%sql

(select ssn from EMPLOYEE) union all (select essn from DEPENDENT);

In [ ]:
%%sql

(select ssn from EMPLOYEE) union (select essn from DEPENDENT);

## Try this: MySQL은 intersect와 except를 지원하지 않음

In [ ]:
%%sql

(select ssn from EMPLOYEE) intersect (select essn from DEPENDENT);

In [ ]:
%%sql

(select ssn from EMPLOYEE) minus (select essn from DEPENDENT);

### Use exists instead

In [ ]:
%%sql

select ssn 
from EMPLOYEE e
where not exists (select * from DEPENDENT de where e.ssn = de.essn)

## LAB 8: Smith가 관리자인 projects 또는 Smith가 참여하는 projects

In [ ]:
%%sql

## LAB 9: 1968년 1월 1일 이후 1월달에 태어났고 TX에 주소가 있는 직원은?

In [ ]:
%%sql

## Try this

In [ ]:
%sql select 'cadfasdfaad' like '%a_';

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
1 rows affected.

[(1,)]

In [ ]:
%%sql

select 1+2+3 from dual; -- Oracle style

### Look at functions and operators part

https://dev.mysql.com/doc/refman/8.0/en/

In [ ]:
%sql select sha2('pasalalkasJDL;ASDF;ASLDJFASDFJKasdl;AL;SDKMllal', 256);

In [ ]:
import math

math.log10(2**256)

77.06367888997919

In [ ]:
%sql select sha('password');

In [ ]:
%sql select truncate(1/3, 2)

In [ ]:
%sql select now();

In [ ]:
%sql select 'abc Houston,     TX, abc' regexp 'Houston *, *TX'

In [ ]:
%sql select 'aaaaaabdef' regexp '^(a|b|c)*def$'

In [ ]:
%%sql 

select dname, group_concat(lname) as names_in_dept
from DEPARTMENT d, EMPLOYEE e
where d.dnumber = e.dno
group by dnumber

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
3 rows affected.

[('Headquarters', 'Borg'),
 ('Administration', 'Wallace,Jabbar,Zelaya'),
 ('Research', 'Smith,Wong,English,Narayan')]

In [ ]:
%%sql 

select lname,fname
from EMPLOYEE order by fname limit 3

 * mysql+pymysql://s202100001:***@dm.hufs.ac.kr:3306/s202100001db
3 rows affected.

[('Jabbar', 'Ahmad'), ('Zelaya', 'Alicia'), ('Wong', 'Franklin')]

### user-defined variable을 사용하여 삽입 (Embedded SQL도 비슷하게 작동함)

In [ ]:
%%sql

select ssn into @ssn from EMPLOYEE where lname = 'Borg' and fname = 'James';
select pnumber into @pno from PROJECT where pname = 'Computerization';
select @ssn, @pno;

insert into WORKS_ON values (@ssn, @pno, 10);

In [ ]:
%sql select * from PROJECT

## Try this: transaction, commit/rollback in mysql client

#### Try this with mysql shell: sqlmagic is always autocommit
#### James Borg를 ProductX 프로젝트에 10시간 참여시킬 것.
```
\sql
\connect s202100001@dm.hufs.ac.kr
```
```
set autocommit=False;
select * from DEPENDENT;
delete from DEPENDENT;
rollback;
select * from DEPENDENT;
```
#### Deletion on DEPENDENT is ROLLBACKED
```
select * from DEPENDENT;
delete from DEPENDENT;
commit;
select * from DEPENDENT;
```
#### Deletion on DEPENDENT is COMMITTED; No way to revive them


## To try with transaction concurrecy control and isolation level, use two mysql shells

## LAB 10: ProductX에 참여하는 직원의 연봉을 10% 인상하시오.

In [ ]:
%%sql 

update EMPLOYEE
set salary = salary * 1.1
where ssn in (select essn from WORKS_ON, PROJECT where pno = pnumber and pname = 'ProductX')

## LAB 11: James Borg의 부하직원의 연봉을 10% 인상하시오.

In [ ]:
%%sql
/* update 문장의 테이블을 where 절에 사용하면 semantics가 무한 순환 관계가 될 수 있음. 두 개의 SQL을 사용해야 함) */

update EMPLOYEE
set superssn = NULL
where ssn in (select e.ssn from EMPLOYEE e, EMPLOYEE s where s.fname = 'James' and s.lname = 'Borg' and e.superssn = s.ssn);

## Nested Query

## LAB 12: James의 부하 직원의 이름은? 중첩질의 사용

In [ ]:
%%sql

select lname, fname
from EMPLOYEE
where superssn
         = (select ssn
             from EMPLOYEE
             where lname = 'Borg' and fname = 'James')

## LAB 13: Houston에 사무실이 있는 부서명? 중첩질의 사용

In [ ]:
%%sql

## LAB 14: Houston과 Sugarland 모두에 사무실이 있는 부서명? 중첩질의 사용

In [ ]:
%%sql

## LAB 15: 최고 급여를 받는 직원의 이름은?

In [ ]:
%%sql

select e.lname, e.fname
from EMPLOYEE e
where not exists (select * from EMPLOYEE where salary > e.salary)

In [ ]:
%%sql

select lname, fname
from EMPLOYEE e
where (e.salary  <ANY   (select salary from EMPLOYEE))

## LAB 16: 최고 급여가 아닌 사람은?

In [ ]:
%%sql

select lname, fname
from EMPLOYEE e
where (e.salary  <ANY   (select salary from EMPLOYEE))

## LAB 17: 상관 중첩 질의: 자신의 부서에서 최고 급여를 받는 직원의 이름과 부서명은?

In [ ]:
%%sql

select d.dname, e.lname, e.fname
from EMPLOYEE e, DEPARTMENT d
where e.dno = d.dnumber and (e.salary  >=ALL  (select f.salary from EMPLOYEE f where e.dno = f.dno))

## LAB 18: James Borg의 부하직원의 이름은? (EXISTS 사용)

In [ ]:
%%sql

select e.lname, e.fname
from EMPLOYEE e
where exists (
    select * 
    from EMPLOYEE j
    where e.superssn = j.ssn and j.lname = 'Borg' and j.fname = 'James'
)

## LAB 19: Houston과 Sugarland 모두에 office가 있는 부서명은? (EXISTS 사용)

In [ ]:
%%sql


select d.dname
from DEPARTMENT d
where 
EXISTS (
   select * 
   from DEPT_LOCATIONS dl
   where d.dnumber = dl.dnumber and dl.dlocation = 'Houston'
)
and
EXISTS (
   select * 
   from DEPT_LOCATIONS dl
   where d.dnumber = dl.dnumber and dl.dlocation = 'Sugarland'
);

## LAB 20: ProductX에 참여하지 않는 직원의 이름은?

In [ ]:
%%sql

select e.fname, e.lname
from EMPLOYEE e
where NOT EXISTS 
(
   select * 
   from WORKS_ON w, PROJECT p
   where e.ssn = w.essn and w.pno = p.pnumber and p.pname = 'ProductX'
);

## LAB 21: 4번 부서가 담당하는 모든 프로젝트에 참여하는 사원들의 이름은?

In [ ]:
%%sql

## LAB 22: Administration 부서의 모든 직원이 참여하는 프로젝트 이름은?

In [ ]:
%%sql

select p.pname
from PROJECT p
where
not exists (
    select * 
    from DEPARTMENT d, EMPLOYEE e
    where d.dname = 'Administration' and e.dno = d.dnumber and
    not exists (
        select *
        from WORKS_ON w
        where p.pnumber = w.pno and e.ssn = w.essn
    )
)

## LAB 23 직원과 직원의 상사가 있다면 그 상사의 이름들을 나열하시오.

In [ ]:
%%sql

select e.fname, e.lname, s.fname as supervisor_fname, s.lname as supervisor_lname
from EMPLOYEE e left outer join EMPLOYEE s on e.superssn = s.ssn;

## TRY JOIN, LEFT OUTER JOIN, RIGHT OUTER JOIN, CROSS JOIN FOR YOURSELF

In [ ]:
%%sql

select * from (DEPARTMENT natural join DEPT_LOCATIONS);

### Oracle, MySQL에서 from 절에 select 사용하기.

In [ ]:
%%sql

select e.fname, e.lname
from (select * from EMPLOYEE where dno = 5) e
where e.salary >= 30000;

### 위를 흉내내서 Research 부서의 부서장의 이름은? outer select 문에 where 절 없이 작성

In [ ]:
%%sql

select e.fname, e.lname
from (select * from DEPARTMENT where dname = 'Research') m 
     join 
     EMPLOYEE e 
     on e.ssn = m.mgrssn;

## LAB 24: 최대급여를 받는 직원의 이름은? (Use aggregate function)

In [ ]:
%%sql

select fname, lname
from EMPLOYEE 
where salary = (select max(salary) from EMPLOYEE);

## LAB 25: 부서별 최대급여를 받는 직원의 이름은? (Use aggregate function)

In [ ]:
%%sql

select fname, lname
from EMPLOYEE e
where salary = (select max(salary) from EMPLOYEE where dno = e.dno);

## LAB 26: 2개의 PROJECT에 참여하는 직원의 이름은?

In [ ]:
%%sql

## LAB 27: 모든 PROJECT에 참여하는 직원의 이름은? (Using count; Never recommended)

Note: PK/FK 제약 조건에 의존하여 성립되는 질의임

In [ ]:
%%sql

## LAB 28: 직원별 참여 프로젝트 수는?

In [ ]:
%%sql

select lname, fname, count(*)
from WORKS_ON, EMPLOYEE
where ssn = essn
group by ssn, lname, fname

In [ ]:
%%sql

## LAB 29: 부양가족수가 2 이상 직원의 이름은?

In [ ]:
%%sql

select lname, fname
from DEPENDENT, EMPLOYEE
where ssn = essn
group by ssn, lname, fname
having count(*) >= 2

## Creating Trigger: MySQL syntax

```
CREATE
    [DEFINER = { user | CURRENT_USER }]
    TRIGGER trigger_name
    trigger_time trigger_event
    ON tbl_name FOR EACH ROW
    trigger_body

trigger_time: { BEFORE | AFTER }

trigger_event: { INSERT | UPDATE | DELETE }
```

In [ ]:
%sql drop table if exists salary_audit;

In [ ]:
%%sql

create table salary_audit (
  essn char(9),
  before_salary decimal(10,2),
  after_salary decimal(10,2),
  udatetime datetime
);

In [ ]:
%sql drop trigger if exists salary_audit_trig

In [ ]:
%%sql

create trigger salary_audit_trig
after update
on EMPLOYEE
for each row
begin
if new.salary <> old.salary then
	insert into salary_audit values (new.ssn, old.salary, new.salary, now());
end if;
end

In [ ]:
%%sql

update EMPLOYEE set salary = salary * 1.1 where dno = 5

In [ ]:
%sql select * from salary_audit;

In [ ]:
%sql select * from EMPLOYEE

### Test if stored procedure works

In [ ]:
%sql drop procedure if exists p1;

In [ ]:
%%sql

create procedure p1()
    select 'Hello World';

In [ ]:
%sql call p1()

## Views

In [ ]:
%sql drop view if exists WORKS_ON1;

In [ ]:
%%sql

CREATE VIEW WORKS_ON1 
AS
SELECT  FNAME, LNAME, PNAME, HOURS
FROM    EMPLOYEE, PROJECT, WORKS_ON
WHERE   SSN=ESSN AND PNO=PNUMBER;

In [ ]:
%%sql

SELECT FNAME, LNAME 
FROM   WORKS_ON1
WHERE  PNAME='ProductX';

In [ ]:
%%sql

SELECT  table_name, is_updatable
FROM    information_schema.views